<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='left.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='d3.v5.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='dagre-d3.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='graph.js') }}"></script>

<title>xhhhh</title>
</head>
<body>
<div id="top">
xxxx
</div>

<div id="left">
    <nav id="nav">
     <ul>
         <li class="act" id="a_page" onclick="all_job()">全部任务</li>
         <li id="t_page" onclick="today_job()">今日任务</li>
     </ul>
    </nav>
    <div style="padding: 10px">
    <div id="all_job" style="display: block;background-color: #ecf0f1" >
        <div id="search">
            <input type="text" placeholder="search..." value="" class="search_box">
            <button type="button" class="btn">搜索</button>
            <button type="button" class="btn">刷新</button>
        </div>
    <div class="ui-tab-all">
        <!-- 具体消息内容 -->
    </div>
    <div class="paging">
        <!-- 分页布局-->
        <table>
            <tr class="page-font">
                <td><button class="firstPage" type="button" onclick="page_click_all(this)">首页</button></td>
                <td><button class="beforePage" type="button" onclick="page_click_all(this)">上一页</button></td>
                <td>第<input type="button" class="currentPage" value="1" readonly="readonly" style="border: none">页</td>
                <td>共<input type="button" class="totalPage_all" value="10" readonly="readonly" style="border: none">页</td>
                <td><button class="nextPage" type="button" onclick="page_click_all(this)">下一页</button></td>
                <td><button class="lastPage" type="button" onclick="page_click_all(this)">尾页</button></td>
            </tr>
        </table>
    </div>
    </div>

    <div id="today_job" style="display: block">
        <div id="search">
            <input type="text" placeholder="search..." value="" class="search_box">
            <button type="button" class="btn">搜索</button>
            <button type="button" class="btn">刷新</button>
        </div>
    <div class="ui-tab-today">
        <!-- 具体消息内容 -->
    </div>
    <div class="paging">
        <!-- 分页布局-->
        <table>
            <tr class="page-font">
                <td><button class="firstPage" type="button" onclick="page_click_today(this)">首页</button></td>
                <td><button class="beforePage" type="button" onclick="page_click_today(this)">上一页</button></td>
                <td>第<input type="button" class="currentPage_today" value="1" readonly="readonly" style="border: none">页</td>
                <td>共<input type="button" class="totalPage_today" value="10" readonly="readonly" style="border: none">页</td>
                <td><button class="nextPage" type="button" onclick="page_click_today(this)">下一页</button></td>
                <td><button class="lastPage" type="button" onclick="page_click_today(this)">尾页</button></td>
            </tr>
        </table>
    </div>
    </div>
    </div>
</div>



<div id="right" >
<div id="ps">
    <div id="status_1" style="background-color: white;border-style:solid;border-color:#E5E5E5;height: 23px;width: 48px"></div><div style="left: 55px;width: auto;background-color: transparent">未运行</div>
    <div id="status_2" style="left: 120px"></div><div style="left: 175px;width: auto;background-color: transparent">运行中</div>
    <div id="status_3" style="left: 240px;background-color: #B8FBA1"></div><div style="left: 295px;width: auto;background-color: transparent">成功</div>
    <div id="status_4" style="left: 360px;background-color: #FFEBAF"></div><div style="left: 415px ;width: auto;background-color: transparent">失败</div>
    <div id="status_4" style="left: 480px;background-color: #FFC6AF"></div><div style="left: 535px ;width: auto;background-color: transparent">错误</div>
    <div id="status_5" style="left: 600px;background-color: #E5E5E5"></div><div style="left: 655px;width: auto;background-color: transparent">非今日任务</div>


</div>
<svg width=100% height="100%"></svg>

</div>
<script>
    init_json = {{ init_josn | safe }};
    jobs_json = JSON.stringify(init_json);
    all_jobs=[];
    today_jobs=[];
    for (let item in init_json['nodes']) {
        all_jobs.push([[init_json['nodes'][item]['id']],init_json['nodes'][item]['repeat_flag']])
        if (init_json['nodes'][item]['today_flag'] == 'Y'){
            today_jobs.push([[init_json['nodes'][item]['id']],init_json['nodes'][item]['status']])
        }
    }
    let all_count = all_jobs.length;
    let today_count = today_jobs.length;
    let totalPage = Math.trunc((all_count/10)+1); //一共多少页
    let today_Page = Math.trunc((today_count/10)+1);

//初始化页面加载
window.onload = function () {
    document.querySelector(".totalPage_all").value=totalPage;
    document.querySelector(".totalPage_today").value=today_Page
    information_display_today(1);
    information_display_all(1);
    document.getElementById("a_page").onclick();
    highlight_today();
    highlight_all();
}

        let dataset = init_json;
        // 创建 graph 对象
        let g = new dagreD3.graphlib.Graph();
        g.setGraph({
            rankdir: 'LR',
            align: 'DL',
            nodesep: 100,
            edgesep: 100,
            ranksep: 50,
            marginx: 50,
            marginy: 100,
        });
        dataset.nodes.forEach(item => {
            var color='white'
            var frame='transparent'
            if (item.today_flag == "Y"){
                if (item.status=="SUCCESS"){
                    color = '#B8FBA1'
                }else if (item.status=='RUNNING'){
                    color='#AEFEF7'
                }else if (item.status=='FAILED'){
                    color='#FFC6AF'
                }else {
                    color='white'
                    frame='#E5E5E5'
                }
            }else {
                color = '#E5E5E5'
            }
            g.setNode(item.id, {
                //节点标签
                label: item.label,
                //节点形状
                shape: item.shape,
                //节点样式
                style: "fill:"+ color +";stroke:"+frame+";stroke-width:2px;rx:5;ry:5",
                //节点标签样式
                labelStyle: "fill:black",
                id:item.name
            })
        })
        dataset.edges.forEach(item => {
            var ccc="black"
            if (item.source_flag=="N" || item.target_flag =="N" ){
                ccc = "#E5E5E5"
            }
            g.setEdge(item.source, item.target, {
                //边标签
                label: item.label,
                //边样式
                style: "fill:transparent;stroke:"+ccc+";stroke-width:2px",
                labelStyle: "fill:black",
                arrowhead: "vee",
                arrowheadStyle: "fill:"+ccc+""
            })
        })
        // 创建渲染器
        let render = new dagreD3.render();

        // 选择 svg 并添加一个g元素作为绘图容器.
        let svg = d3.select('svg')
        let svgGroup = svg.append('g');

        // 在绘图容器上运行渲染器生成流程图.
        render(svgGroup, g);

        // 建立拖拽缩放
        let zoom = d3.zoom()
            .on("zoom", function () {
                svgGroup.attr("transform", d3.event.transform);
            });
        svg.call(zoom);

        var styleTooltip = function (name) {
            return "<p class='name'>" + name + "</p>";
        };

        //创建提示框
        function createTooltip() {
            return d3.select('body')
                .append('div')
                .classed('tooltip', true)
                .style('opacity', 0)
                .style('display', 'none');
        };
        let tooltip = createTooltip();
        //tooltip显示
        function tipVisible(textContent) {
            tooltip.transition()
                .duration(400)
                .style('opacity', 0.9)
                .style('display', 'block');
            tooltip.html(textContent)
                .style('left', (d3.event.pageX + 15) + 'px')
                .style('top', (d3.event.pageY + 15) + 'px');
        }
        //tooltip隐藏
        function tipHidden() {
            tooltip.transition()
                .duration(400)
                .style('opacity', 0)
                .style('display', 'none');
        }

        //鼠标悬停显示隐藏tooltip
        svgGroup.selectAll("g.node")
        .on("mouseover", function (v) {
            tipVisible(g.node(v).label);
        })
        .on("mouseout", function (v) {
            tipHidden();
        })

        // Center the graph
        var xCenterOffset = (svg.attr('width') - g.graph().width) / 2;
        svgGroup.attr('transform', 'translate(' + xCenterOffset + ', 20)');
        svg.attr('height', g.graph().height + 40);

        var id_nam = 'dddddddddddddddd';

        function ff(){
            d3.select("#"+id_nam).select("rect").style("fill","red");
        };

</script>




</body>
</html>