<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" />
<script type="text/javascript" src="{{ url_for('static', filename='left.js') }}"></script>

<script>
    var all_jobs = {{ all_jobs | safe }};
    var today_jobs = {{ today_jobs | safe }};
    var running_jobs = {{ running_jobs | safe}};
    let all_count = all_jobs.length;
    let today_count = today_jobs.length;
    let running_count = running_jobs.length;
    let totalPage = Math.trunc((all_count/5)+1); //一共多少页
    let today_Page = Math.trunc((today_count/5)+1);
    let running_Page = Math.trunc((running_count/5)+1);

//前端获取后台数据并呈现在<div class="ui-tab">中
function information_display(page) {
    const informationDisplay = document.querySelector(".ui-tab");
    var begin =page*5-5;
    var end = 0;
    if (page*5 < all_count){
        var end = page*5-1;
    }else {
        var end = all_count-1;
    };
    var innerHT = '<table id="container" <thead id="c_thead"> <tr> <td>任务名</td><td>状态</td> </tr> </thead> <tbody id="c_tbody">';
    for (var i=begin;i<=end;i++){
        innerHT +='<tr><td>';
        innerHT += all_jobs[i][0];
        innerHT +='</td><td>';
        innerHT += all_jobs[i][1];
        innerHT +='</td></tr>';
    };
    innerHT += '</tbody> </table>';
    informationDisplay.innerHTML = innerHT;
}

//初始化页面加载
window.onload = function () {
    document.querySelector(".totalPage").value=totalPage;
    information_display(1);
}

function highlight(){
        var trs = document.querySelector('#c_tbody').querySelectorAll("tr");
// 2. 利用循环绑定注册事件
for (var i = 0; i < trs.length; i++) {
    // 3. 鼠标经过事件 onmouseover 当鼠标经过的时候
    // 给表格添加一个背景属性
    trs[i].onmouseover = function() {
            this.className = 'bg';
        }
        // 4. 鼠标离开事件 onmouseout
    trs[i].onmouseout = function() {
        this.className = '';
    }
}
}


//上一页、下一页，首页和尾页的单击触发事件
function page_click(item) {
    console.log(item);
    let pageNumber=0;
    if (item.className == "firstPage"){
        console.log(item.className);
        //pageNumber = document.querySelector(".currentPage").value;
        document.querySelector(".currentPage").value=1;
        information_display(1)
    }
    else if (item.className == "beforePage") {
        console.log(item.className);
        pageNumber = document.querySelector(".currentPage").value;
        if (pageNumber > 1) {
            document.querySelector(".currentPage").value=Number(pageNumber)-1;
            information_display(Number(pageNumber)-1)
        }
    }
    else if (item.className == "nextPage") {
        console.log(item.className);
        pageNumber = document.querySelector(".currentPage").value;
        console.log(pageNumber);
        console.log(typeof(pageNumber));
        if (pageNumber < totalPage) {
            let n=document.querySelector(".currentPage").value=Number(pageNumber)+1;
            information_display(Number(pageNumber)+1)
        }
    }
    else {
        console.log(item.className);
        document.querySelector(".currentPage").value=totalPage;
        information_display(totalPage)
    };
    highlight()
}




</script>
    <style>
        table{
            width: 400px;
            margin: 10px auto;
            border-collapse: collapse;
            font-size: 14px;
        }
        .ui-tab #c_thead tr {
            height: 300px;
            font-size: 30px;
            text-align: center;
            background-color: skyblue;
        }
        tbody tr {
            height: 30px;
        }
        .ui-tab tbody td{
            border-bottom: 1px solid #d7d7d7;
            font-size: 14px;
        }

        .bg {
            background-color: pink;
        }
    </style>

<title>菜鸟</title>
</head>
<body>
<div id="top">
sasdasdas
</div>

<div id="left">
    <nav id="nav">
     <ul>
         <li class="act" id="a_page" onclick="all_job()">全部任务</li>
         <li id="t_page" onclick="today_job()">今日任务</li>
         <li id="r_page" onclick="running_job()">正在运行</li>
     </ul>
    </nav>

    <div id="all_job" style="display: block">
    <div class="ui-tab">
        <!-- 具体消息内容 -->
    </div>
    <div class="paging">
        <!-- 分页布局-->
        <table>
            <tr class="page-font">
                <td><button class="firstPage" type="button" onclick="page_click(this)">首页</button>&nbsp;|&nbsp;</td>
                <td><button class="beforePage" type="button" onclick="page_click(this)">上一页</button>&nbsp;|&nbsp;</td>
                <td>第<input type="button" class="currentPage" value="1" readonly="readonly">页</td>
                <td>共<input type="button" class="totalPage" value="10" readonly="readonly">页</td>
                <td>&nbsp;|&nbsp;<button class="nextPage" type="button" onclick="page_click(this)">下一页</button></td>
                <td>&nbsp;|&nbsp;<button class="lastPage" type="button" onclick="page_click(this)">尾页</button></td>
            </tr>
        </table>
    </div>
    </div>

    <div id="today_job" style="display: none">
    <div class="ui-tab">
        <!-- 具体消息内容 -->
    </div>
    <div class="paging">
        <!-- 分页布局-->
        <table>
            <tr class="page-font">
                <td><button class="firstPage" type="button" onclick="page_click(this)">首页</button>&nbsp;|&nbsp;</td>
                <td><button class="beforePage" type="button" onclick="page_click(this)">上一页</button>&nbsp;|&nbsp;</td>
                <td>第<input type="button" class="currentPage" value="1" readonly="readonly">页</td>
                <td>共<input type="button" class="totalPage" value="10" readonly="readonly">页</td>
                <td>&nbsp;|&nbsp;<button class="nextPage" type="button" onclick="page_click(this)">下一页</button></td>
                <td>&nbsp;|&nbsp;<button class="lastPage" type="button" onclick="page_click(this)">尾页</button></td>
            </tr>
        </table>
    </div>
    </div>

    <div id="running_job" style="display: none">
    hhhhhhhhhhhhhhhhhhhhhh
    </div>

</div>



<div id="right" >
    sadasdsadsad
</div>

<script type="text/javascript">

    var date = {{ all_j|safe }};
    {#window.alert(date.replace(/\{|\>|\/|\?]/g, '').replace(/\}|\>|\/|\?]/g, '').replace('[','{').replace(']','}'));#}
    {#var ddd = date.replace(/\{|\>|\/|\?]/g, '').replace(/\}|\>|\/|\?]/g, '').replace('[','{').replace(']','}');#}
    {#var obj = JSON.parse('{ddd:fff,sda:asd}');#}
    {#document.getElementById("right").innerHTML=obj;#}
    window.alert("ffffffffffffffff");
    window.alert(date[1])
</script>

</body>
</html>